In [2]:
import pandas as pd
import numpy as np

In [24]:
# Loaded the Shark Tank dataset
file_path = r"C:\Users\HP\Favorites\Downloads\Shark Tank US (1).csv"
df = pd.read_csv(file_path)

In [26]:
# Display basic information and first few rows
df.info(), df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 634 entries, 0 to 633
Data columns (total 80 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Season Number              634 non-null    int64
 1   Startup Name               634 non-null    object
 2   Episode Number             634 non-null    int64
 3   Pitch Number               634 non-null    int64
 4   Season Start               634 non-null    object
 5   Season End                 634 non-null    object
 6   Original Air Date          634 non-null    object
 7   Episode Title              634 non-null    object
 8   Anchor                     634 non-null    object
 9   Industry                   634 non-null    object
 10  Business Description       634 non-null    object
 11  Company Website            634 non-null    object
 12  Started in                 634 non-null    float64
 13  Number of Presenters       634 non-null    int64
 14  Male Presenters            634 non-null    float64
 15  Female Presenters          634 non-null    float64
 16  Transgender Presenters     634 non-null    float64
 17  Couple Presenters          634 non-null    int64
 18  Pitchers Average Age       0 non-null      float64
 19  Pitchers City              634 non-null    object
 20  Pitchers State             634 non-null    object
 21  Yearly Revenue             634 non-null    float64
 22  Monthly Sales              634 non-null    float64
 23  Gross Margin               634 non-null    float64
 24  Net Margin                 634 non-null    float64
 25  EBITDA                     634 non-null    float64
 26  Cash Burn                  634 non-null    object
 27  SKUs                       634 non-null    float64
 28  Has Patents                634 non-null    object
 29  Bootstrapped               634 non-null    object
 30  Part of Match off          634 non-null    object
 31  Original Ask Amount        634 non-null    float64
 32  Original Offered Equity    634 non-null    float64
 33  Valuation Requested        634 non-null    float64
 34  Received Offer             634 non-null    int64
 35  Accepted Offer             634 non-null    float64
 36  Total Deal Amount          634 non-null    float64
 37  Total Deal Equity          634 non-null    float64
 38  Total Deal Debt            634 non-null    float64
 39  Debt Interest              634 non-null    float64
 40  Deal Valuation             634 non-null    float64
 41  Number of Sharks in Deal   634 non-null    float64
 42  Deal Has Conditions        634 non-null    object
 43  Royalty Percentage         634 non-null    float64
 44  Royalty Recouped Amount    634 non-null    float64
 45  Advisory Shares Equity     634 non-null    float64
 46  Namita Investment Amount   634 non-null    float64
 47  Namita Investment Equity   634 non-null    float64
 48  Namita Debt Amount         634 non-null    float64
 49  Vineeta Investment Amount  634 non-null    float64
 50  Vineeta Investment Equity  634 non-null    float64
 51  Vineeta Debt Amount        634 non-null    float64
 52  Anupam Investment Amount   634 non-null    float64
 53  Anupam Investment Equity   634 non-null    float64
 54  Anupam Debt Amount         634 non-null    float64
 55  Aman Investment Amount     634 non-null    float64
 56  Aman Investment Equity     634 non-null    float64
 57  Aman Debt Amount           634 non-null    float64
 58  Peyush Investment Amount   634 non-null    float64
 59  Peyush Investment Equity   634 non-null    float64
 60  Peyush Debt Amount         634 non-null    float64
 61  Ritesh Investment Amount   634 non-null    float64
 62  Ritesh Investment Equity   634 non-null    float64
 63  Ritesh Debt Amount         634 non-null    float64
 64  Amit Investment Amount     634 non-null    float64
 65  Amit Investment Equity     634 non-null    float64
 66  Amit Debt Amount           634 non-null    float64
 67  Guest Investment Amount    634 non-null    float64
 68  Guest Investment Equity    634 non-null    float64
 69  Guest Debt Amount          634 non-null    float64
 70  Invested Guest Name        634 non-null    object
 71  All Guest Names            634 non-null    object
 72  Namita Present             634 non-null    float64
 73  Vineeta Present            634 non-null    float64
 74  Anupam Present             634 non-null    float64
 75  Aman Present               634 non-null    float64
 76  Peyush Present             634 non-null    float64
 77  Ritesh Present             634 non-null    float64
 78  Amit Present               634 non-null    float64
 79  Guest Present              634 non-null    float64
dtypes: float64(56), int64(6), object(18)
memory usage: 396.4+ KB

(None,
    Season Number      Startup Name  Episode Number  Pitch Number Season Start  \
 0              1     BluePineFoods               1             1   20-12-2021
 1              1      BoozScooters               1             2   20-12-2021
 2              1  HeartUpMySleeves               1             3   20-12-2021
 3              1         TagzFoods               2             4   20-12-2021
 4              1      HeadAndHeart               2             5   20-12-2021

    Season End Original Air Date                Episode Title           Anchor  \
 0  04-02-2022        20-12-2021  Badlegi Business Ki Tasveer  Rannvijay Singh
 1  04-02-2022        20-12-2021  Badlegi Business Ki Tasveer  Rannvijay Singh
 2  04-02-2022        20-12-2021  Badlegi Business Ki Tasveer  Rannvijay Singh
 3  04-02-2022        21-12-2021      Insaan, Ideas Aur Sapne  Rannvijay Singh
 4  04-02-2022        21-12-2021      Insaan, Ideas Aur Sapne  Rannvijay Singh

                        Industry  ... Invested Guest Name All Guest Names  \
 0             Food and Beverage  ...      Ashneer Grover  Ashneer Grover
 1  Vehicles/Electrical Vehicles  ...      Ashneer Grover  Ashneer Grover
 2                Beauty/Fashion  ...                   0  Ashneer Grover
 3             Food and Beverage  ...      Ashneer Grover  Ashneer Grover
 4            Children/Education  ...                   0  Ashneer Grover

    Namita Present  Vineeta Present  Anupam Present  Aman Present  \
 0             1.0              1.0             1.0           1.0
 1             1.0              1.0             1.0           1.0
 2             1.0              1.0             1.0           1.0
 3             1.0              1.0             1.0           1.0
 4             1.0              1.0             1.0           1.0

    Peyush Present  Ritesh Present  Amit Present Guest Present
 0             0.0             0.0           0.0           1.0
 1             0.0             0.0           0.0           1.0
 2             0.0             0.0           0.0           1.0
 3             0.0             0.0           0.0           1.0
 4             0.0             0.0           0.0           1.0

 [5 rows x 80 columns])

In [28]:
#to get a quick statistical summary
df.describe()

,Season Number,Episode Number,Pitch Number,Started in,Number of Presenters,Male Presenters,Female Presenters,Transgender Presenters,Couple Presenters,Pitchers Average Age,...,Guest Investment Equity,Guest Debt Amount,Namita Present,Vineeta Present,Anupam Present,Aman Present,Peyush Present,Ritesh Present,Amit Present,Guest Present
count,634.000000,634.000000,634.000000,634.000000,634.000000,634.000000,634.000000,634.000000,634.000000,0.0,...,634.000000,634.000000,634.000000,634.000000,634.000000,634.000000,634.000000,634.000000,634.000000,634.000000
mean,2.500000,24.055205,317.500000,1452.353312,2.000000,1.427445,0.567823,0.004732,0.176656,NaN,...,0.400968,0.359085,0.780757,0.675079,0.864353,0.876972,0.611987,0.217666,0.216088,0.555205
std,1.106137,15.102549,183.164316,908.122491,0.796913,0.939869,0.669328,0.068680,0.381679,NaN,...,1.815909,4.643926,0.414060,0.468715,0.342683,0.328729,0.487682,0.412985,0.411900,0.613909
min,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,11.000000,159.250000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,NaN,...,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,2.000000,24.000000,317.500000,2018.000000,2.000000,1.000000,0.000000,0.000000,0.000000,NaN,...,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000
75%,3.000000,36.000000,475.750000,2021.000000,2.000000,2.000000,1.000000,0.000000,0.000000,NaN,...,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000
max,4.000000,52.000000,634.000000,2024.000000,6.000000,6.000000,3.000000,1.000000,1.000000,NaN,...,25.000000,99.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000

In [30]:
# to replace all missing (NaN) values in the DataFrame with 0
df.fillna(0, inplace=True)

In [32]:
# to view Headings
df.head(10)

,Season Number,Startup Name,Episode Number,Pitch Number,Season Start,Season End,Original Air Date,Episode Title,Anchor,Industry,...,Invested Guest Name,All Guest Names,Namita Present,Vineeta Present,Anupam Present,Aman Present,Peyush Present,Ritesh Present,Amit Present,Guest Present
0,1,BluePineFoods,1,1,20-12-2021,04-02-2022,20-12-2021,Badlegi Business Ki Tasveer,Rannvijay Singh,Food and Beverage,...,Ashneer Grover,Ashneer Grover,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0
1,1,BoozScooters,1,2,20-12-2021,04-02-2022,20-12-2021,Badlegi Business Ki Tasveer,Rannvijay Singh,Vehicles/Electrical Vehicles,...,Ashneer Grover,Ashneer Grover,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0
2,1,HeartUpMySleeves,1,3,20-12-2021,04-02-2022,20-12-2021,Badlegi Business Ki Tasveer,Rannvijay Singh,Beauty/Fashion,...,0,Ashneer Grover,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0
3,1,TagzFoods,2,4,20-12-2021,04-02-2022,21-12-2021,"Insaan, Ideas Aur Sapne",Rannvijay Singh,Food and Beverage,...,Ashneer Grover,Ashneer Grover,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0
4,1,HeadAndHeart,2,5,20-12-2021,04-02-2022,21-12-2021,"Insaan, Ideas Aur Sapne",Rannvijay Singh,Children/Education,...,0,Ashneer Grover,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0
5,1,Agritourism,2,6,20-12-2021,04-02-2022,21-12-2021,"Insaan, Ideas Aur Sapne",Rannvijay Singh,Agriculture,...,0,Ashneer Grover,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0
6,1,qZenseLabs,3,7,20-12-2021,04-02-2022,22-12-2021,Aam Aadmi Ke Business Ideas,Rannvijay Singh,Food and Beverage,...,0,Ashneer Grover,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0
7,1,Peeschute,3,8,20-12-2021,04-02-2022,22-12-2021,Aam Aadmi Ke Business Ideas,Rannvijay Singh,Beauty/Fashion,...,0,Ashneer Grover,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0
8,1,NOCD,3,9,20-12-2021,04-02-2022,22-12-2021,Aam Aadmi Ke Business Ideas,Rannvijay Singh,Food and Beverage,...,0,Ashneer Grover,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0
9,1,CosIQ,4,10,20-12-2021,04-02-2022,23-12-2021,Entrepreneurship Ki Wave,Rannvijay Singh,Beauty/Fashion,...,0,Ashneer Grover,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0

In [34]:
#To remove Duplicates
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
629    False
630    False
631    False
632    False
633    False
Length: 634, dtype: bool

In [36]:
print(df['Season End'].unique())

['04-02-2022' '10-03-2023' '31-03-2024' '01-01-1970']

In [38]:
# Convert to datetime
df['Season Start'] = pd.to_datetime(df['Season Start'], errors='coerce')
df['Season End'] = pd.to_datetime(df['Season End'], errors='coerce')
df['Original Air Date'] = pd.to_datetime(df['Original Air Date'], errors='coerce')

# Convert to string in desired format
df['Season Start'] = df['Season Start'].dt.strftime('%d-%m-%Y')
df['Season End'] = df['Season End'].dt.strftime('%d-%m-%Y')
df['Original Air Date'] = df['Original Air Date'].dt.strftime('%d-%m-%Y')

C:\Users\HP\AppData\Local\Temp\ipykernel_22272\231568809.py:2: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Season Start'] = pd.to_datetime(df['Season Start'], errors='coerce')
C:\Users\HP\AppData\Local\Temp\ipykernel_22272\231568809.py:4: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Original Air Date'] = pd.to_datetime(df['Original Air Date'], errors='coerce')

In [40]:
df.head(10)

,Season Number,Startup Name,Episode Number,Pitch Number,Season Start,Season End,Original Air Date,Episode Title,Anchor,Industry,...,Invested Guest Name,All Guest Names,Namita Present,Vineeta Present,Anupam Present,Aman Present,Peyush Present,Ritesh Present,Amit Present,Guest Present
0,1,BluePineFoods,1,1,20-12-2021,02-04-2022,20-12-2021,Badlegi Business Ki Tasveer,Rannvijay Singh,Food and Beverage,...,Ashneer Grover,Ashneer Grover,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0
1,1,BoozScooters,1,2,20-12-2021,02-04-2022,20-12-2021,Badlegi Business Ki Tasveer,Rannvijay Singh,Vehicles/Electrical Vehicles,...,Ashneer Grover,Ashneer Grover,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0
2,1,HeartUpMySleeves,1,3,20-12-2021,02-04-2022,20-12-2021,Badlegi Business Ki Tasveer,Rannvijay Singh,Beauty/Fashion,...,0,Ashneer Grover,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0
3,1,TagzFoods,2,4,20-12-2021,02-04-2022,21-12-2021,"Insaan, Ideas Aur Sapne",Rannvijay Singh,Food and Beverage,...,Ashneer Grover,Ashneer Grover,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0
4,1,HeadAndHeart,2,5,20-12-2021,02-04-2022,21-12-2021,"Insaan, Ideas Aur Sapne",Rannvijay Singh,Children/Education,...,0,Ashneer Grover,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0
5,1,Agritourism,2,6,20-12-2021,02-04-2022,21-12-2021,"Insaan, Ideas Aur Sapne",Rannvijay Singh,Agriculture,...,0,Ashneer Grover,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0
6,1,qZenseLabs,3,7,20-12-2021,02-04-2022,22-12-2021,Aam Aadmi Ke Business Ideas,Rannvijay Singh,Food and Beverage,...,0,Ashneer Grover,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0
7,1,Peeschute,3,8,20-12-2021,02-04-2022,22-12-2021,Aam Aadmi Ke Business Ideas,Rannvijay Singh,Beauty/Fashion,...,0,Ashneer Grover,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0
8,1,NOCD,3,9,20-12-2021,02-04-2022,22-12-2021,Aam Aadmi Ke Business Ideas,Rannvijay Singh,Food and Beverage,...,0,Ashneer Grover,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0
9,1,CosIQ,4,10,20-12-2021,02-04-2022,23-12-2021,Entrepreneurship Ki Wave,Rannvijay Singh,Beauty/Fashion,...,0,Ashneer Grover,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0

In [42]:
df.groupby('Industry')['Total Deal Amount'].sum().reset_index()

                        Industry  Total Deal Amount
0                    Agriculture          190.00000
1                    Animal/Pets          110.00000
2                 Beauty/Fashion         5938.00000
3              Business Services         1365.00000
4             Children/Education         1086.00000
5                    Electronics          400.00000
6                  Entertainment          150.00000
7        Fitness/Sports/Outdoors         1105.00000
8              Food and Beverage         5367.60005
9                Green/CleanTech          685.01250
10                      Hardware           25.00000
11                Lifestyle/Home         1140.00000
12                Liquor/Alcohol          270.00000
13                 Manufacturing         1631.00000
14                Medical/Health         3383.00101
15                        Others           61.30000
16           Technology/Software         2887.00000
17  Vehicles/Electrical Vehicles          491.00000

In [44]:
# Organizing data by domain and funding amount
df_domain = df[['Industry', 'Total Deal Amount']].dropna()
df_domain['Total Deal Amount'] = pd.to_numeric(df_domain['Total Deal Amount'], errors='coerce')
industry_funding = df_domain.groupby('Industry')['Total Deal Amount'].sum().reset_index()
industry_funding = industry_funding.sort_values(by='Total Deal Amount', ascending=False)

In [46]:
print(industry_funding)

                        Industry  Total Deal Amount
2                 Beauty/Fashion         5938.00000
8              Food and Beverage         5367.60005
14                Medical/Health         3383.00101
16           Technology/Software         2887.00000
13                 Manufacturing         1631.00000
3              Business Services         1365.00000
11                Lifestyle/Home         1140.00000
7        Fitness/Sports/Outdoors         1105.00000
4             Children/Education         1086.00000
9                Green/CleanTech          685.01250
17  Vehicles/Electrical Vehicles          491.00000
5                    Electronics          400.00000
12                Liquor/Alcohol          270.00000
0                    Agriculture          190.00000
6                  Entertainment          150.00000
1                    Animal/Pets          110.00000
15                        Others           61.30000
10                      Hardware           25.00000

In [48]:
#To sort the values
df_domain.sort_values(by='Total Deal Amount', ascending=False)

                Industry  Total Deal Amount
484  Technology/Software              500.0
528    Food and Beverage              400.0
482       Beauty/Fashion              300.0
597       Beauty/Fashion              300.0
365       Beauty/Fashion              300.0
..                   ...                ...
339    Food and Beverage                0.0
338       Beauty/Fashion                0.0
336        Manufacturing                0.0
335       Liquor/Alcohol                0.0
633        Entertainment                0.0

[634 rows x 2 columns]

In [50]:
df['Pitchers Average Age'] = pd.to_numeric(df['Pitchers Average Age'], errors='coerce')
df['Pitchers Average Age'].fillna(df['Pitchers Average Age'].median(), inplace=True)

# Continue Analysis
founder_profiles = df.groupby('Industry').agg({
    'Number of Presenters': ['mean', 'max'],
    'Pitchers Average Age': ['mean']
}).reset_index()

print(founder_profiles)

                        Industry Number of Presenters     Pitchers Average Age
                                                 mean max                 mean
0                    Agriculture             2.285714   4                  0.0
1                    Animal/Pets             1.833333   3                  0.0
2                 Beauty/Fashion             1.771654   5                  0.0
3              Business Services             2.428571   5                  0.0
4             Children/Education             2.120000   4                  0.0
5                    Electronics             2.400000   3                  0.0
6                  Entertainment             2.500000   3                  0.0
7        Fitness/Sports/Outdoors             2.210526   4                  0.0
8              Food and Beverage             2.007042   4                  0.0
9                Green/CleanTech             2.066667   4                  0.0
10                      Hardware             2.000000   3                  0.0
11                Lifestyle/Home             1.860465   3                  0.0
12                Liquor/Alcohol             1.666667   2                  0.0
13                 Manufacturing             2.038462   4                  0.0
14                Medical/Health             2.071429   4                  0.0
15                        Others             2.200000   3                  0.0
16           Technology/Software             2.034483   6                  0.0
17  Vehicles/Electrical Vehicles             1.800000   4                  0.0

C:\Users\HP\AppData\Local\Temp\ipykernel_22272\1907361618.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Pitchers Average Age'].fillna(df['Pitchers Average Age'].median(), inplace=True)

In [59]:
# Funding Stage Success Analysis
# Assuming you're filtering based on some condition from a dataframe called df
df_filtered = df[df['Bootstrapped'].notnull()]  # Or any other condition relevant to your case

# Now proceed with your analysis
funding_success = df_filtered.groupby('Bootstrapped').agg({
    'Original Ask Amount': ['mean', 'sum'],
    'Total Deal Amount': ['mean', 'sum']
}).reset_index()

In [65]:
print(founder_profiles.columns)
print(funding_success.columns)
print(founder_profiles.shape)  # Check number of columns
print(funding_success.shape)

MultiIndex([(            'Industry',     ''),
            ('Number of Presenters', 'mean'),
            ('Number of Presenters',  'max'),
            ('Pitchers Average Age', 'mean')],
           )
MultiIndex([(       'Bootstrapped',     ''),
            ('Original Ask Amount', 'mean'),
            ('Original Ask Amount',  'sum'),
            (  'Total Deal Amount', 'mean'),
            (  'Total Deal Amount',  'sum')],
           )
(18, 4)
(3, 5)

In [69]:
founder_profiles.columns = ['Industry', 'Avg Presenters', 'Max Presenters', 'Avg Age']
print(founder_profiles.columns)
print(funding_success.columns)

Index(['Industry', 'Avg Presenters', 'Max Presenters', 'Avg Age'], dtype='object')
MultiIndex([(       'Bootstrapped',     ''),
            ('Original Ask Amount', 'mean'),
            ('Original Ask Amount',  'sum'),
            (  'Total Deal Amount', 'mean'),
            (  'Total Deal Amount',  'sum')],
           )

In [71]:
# Display results
print("\nFounder Profiles by Industry:")
print(founder_profiles)

print("\nFunding Stage Success:")
print(funding_success)

Founder Profiles by Industry:
                        Industry  Avg Presenters  Max Presenters  Avg Age
0                    Agriculture        2.285714               4      0.0
1                    Animal/Pets        1.833333               3      0.0
2                 Beauty/Fashion        1.771654               5      0.0
3              Business Services        2.428571               5      0.0
4             Children/Education        2.120000               4      0.0
5                    Electronics        2.400000               3      0.0
6                  Entertainment        2.500000               3      0.0
7        Fitness/Sports/Outdoors        2.210526               4      0.0
8              Food and Beverage        2.007042               4      0.0
9                Green/CleanTech        2.066667               4      0.0
10                      Hardware        2.000000               3      0.0
11                Lifestyle/Home        1.860465               3      0.0
12                Liquor/Alcohol        1.666667               2      0.0
13                 Manufacturing        2.038462               4      0.0
14                Medical/Health        2.071429               4      0.0
15                        Others        2.200000               3      0.0
16           Technology/Software        2.034483               6      0.0
17  Vehicles/Electrical Vehicles        1.800000               4      0.0

Funding Stage Success:
  Bootstrapped Original Ask Amount              Total Deal Amount
                              mean          sum              mean          sum
0            0          137.665002  71585.80116         36.090194  18766.90106
1       funded           86.162981   6720.71250         71.436058   5572.01250
2          yes           91.805556   3305.00000         54.055556   1946.00000

In [77]:
# Export to CSV
output_path = "clean Shark Tank US.csv"
df.to_csv(output_path, index=False)